* {
  margin: 0;
  padding: 0;
}
html {
  height: 100vh;
}
body {
  height: 100%;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; 
  background-image: url('./Images/background.jpeg')
}
.heading {
  background: rgb(210,232,52);
  background: linear-gradient(180deg, rgba(210,232,52,0.8794642857142857) 0%, rgba(157,227,113,0.7329306722689075) 90%, rgba(255,255,255,0) 100%);
  display: block;
  width: 100%;
  padding: 10px 0 5px 0;
}

.heading h3 {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  font-family: URW Chancery L, cursive;
}
.nav-container {
  display: flex;
  justify-content:space-evenly;
  width: 100%;
  transition: 500ms;
} 

.nav-container h4 {
  margin: 0 0 5px 0;
  font-size: 1.2em;
}

.frame div{
  height: 80vh;
}
.doc-container {
  display: flex;
  justify-content: center;
  min-height: 600px;
  padding-top: 10px;

}
.link-container {
  padding: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.link {
  /* text-align: center; */
}
.doc {
  max-width: 700px;
  min-width: 600px;
  height: 85%;
}

@media (hover: hover) {
  .nav-container > h4:hover {
    color: #464242;
    cursor: pointer;
    text-decoration: underline;
  }
}

@media (max-width: 600px) {
  .doc {
    min-width: 500px;
  }
}
@media (max-width: 500px) {
  .doc {
    min-width: 400px;
  }
}
@media (max-width: 400px) {
  .doc {
    min-width: 300px;
  }
}


/* nav buttons */

.nav-container > p  {
  font-family: Palatino, URW Palladio L, serif;
  border-radius: 20px;
  position: relative;
  border: none;
  padding: 3px 5px 3px 5px;
  text-align: center;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}

.nav-container > p h4:after {
  content: "";
  background: #b9f773;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px!important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

.nav-container > p h4:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}